.cardContainer {
  display: flex;
  flex-direction: column;
  background-color: aqua;
}
.top {
  position: relative;
}
.image {
  position: relative;
  z-index: 0;
}
.destinationDays,
.percentage {
  position: relative;
  z-index: 1;
}
.bottom {
  padding: 0.5rem;
}
